services:
    virtuoso:
        build:
            context: ../../
            dockerfile: ./endtoend-interaction-tests/docker-compose/Dockerfile.virtuoso
        environment:
            - VIRT_SPARQL_MaxQueryCostEstimationTime=default
            - VIRT_SPARQL_MaxQueryExecutionTime=300
            - VIRT_Parameters_ServerThreads=30
            - VIRT_HTTPServer_ServerThreads=300
        ports:
            - "8890:8890"
        volumes: 
            - virtuoso-db1:/data
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:8890/sparql"]
            interval: 15s
            timeout: 10s
            retries: 4
    synbiohub:
        build:
            context: ../../old-backend/
            dockerfile: ./docker/Dockerfile
            args:
                - GIT_REVISION=${GIT_REVISION:-unknown}
        depends_on:
            virtuoso:
                condition: service_healthy
        ports:
            - "7777:7777"
        volumes:
            - sbh1:/mnt
            - virtuoso-db1:/virtuoso
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:7777/"]
            start_period: 30s
            interval: 10s
            timeout: 10s
            retries: 5
    synbiohub-frontend:
        build:
            context: ../../frontend/
            dockerfile: ./Dockerfile
        depends_on:
            synbiohub:
                condition: service_healthy
        ports:
            - "3333:3333"
        labels:
            - "com.docker.desktop.open.url=http://localhost:3333"
        restart: always
        environment:
            - backend=http://localhost:7777
            - backendSS=http://synbiohub:7777
volumes:
    virtuoso-db1:
    sbh1:
